$main_blue: #3d8fec;
$main_green: #50b810;
$gray: #555;
$dark_shadow: #d0daeb;
$light_shadow: #eef4fe;
$white: #fff;
$light_background: #f4f8ff;
$secondary_tag_text_color: #616c82;
$secondary_tag_background: #ebeef6;
$primary_tag_background: #b233a6;
$btn_background: #d9d9d9;
$primary_border_color: #7b8aab;
